# Include other config files
[include uart.cfg]
[include macros.cfg]
[include klicky.cfg]
[include z_calibration.cfg]


# Obtain MCU paths by "ls -l /dev/serial/by-id/". 
# Some Arduinos clones (CH340) may require using "ls -l /dev/serial/by-path/"
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_0E002B00135053424E363620-if00

################################

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_accel_to_decel: 3000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5

[pause_resume]

[display_status]

path: ~/gcode_files


[idle_timeout]
gcode:
	G91                          	 																	; relative positioning
	G1 Z5 F18000.0                      																; move up 5mm
	G90                                 																; absolute positioning
	G1 X{printer.toolhead.axis_maximum.x} Y{printer.toolhead.axis_maximum.y} F18000.0  					; park nozzle at rear
	OFF																									; turn everything off
# 2 hrs
timeout: 7200

[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 32
rotation_distance: 40
endstop_pin: ^PG6
position_endstop: 0
position_max: 120
homing_speed: 50

[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 32
rotation_distance: 40
endstop_pin: PG9
position_endstop: 0
position_max: 120
homing_speed: 50

# Z0 Stepper - Front Left on MOTOR1
[stepper_z]
step_pin: PF11
dir_pin: PG3
endstop_pin: !PG5
microsteps: 16
rotation_distance: 40
gear_ratio: 64:16
position_endstop: 0
position_max: 120
homing_speed: 12
second_homing_speed: 1

# Z1 Stepper - Rear Left on MOTOR3
[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
microsteps: 16
rotation_distance: 40
gear_ratio: 64:16

# Z2 Stepper - Rear Right on MOTOR4
[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
microsteps: 16
rotation_distance: 40
gear_ratio: 64:16

# Z3 Stepper - Front Right on MOTOR5
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
microsteps: 16
rotation_distance: 40
gear_ratio: 64:16

[extruder]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
heater_pin: PA2 # HE0
sensor_pin:  PF4
microsteps: 8
rotation_distance: 22.23
gear_ratio: 50:10              
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 28.182
pid_Ki: 1.978
pid_Kd: 100.397
min_temp: 0
max_temp: 290
max_extrude_only_distance: 780
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040

[fan]
##	Print Cooling Fan - CNC_FAN0
pin: PA8
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan hotend_fan]
##	Hotend Fan - CNC_FAN1
pin: PE5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[heater_fan controller_fan]
##	Controller fan - CNC_FAN2
pin: PD12
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

[heater_bed]
heater_pin: PA1
sensor_type: NTC 100K beta 3950
sensor_pin: PF3
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 1.0
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[quad_gantry_level]
gantry_corners:
	-35,0
	150,177
#	Probe points
points:
   5,5
	5,80
	110,80
	110,5

speed: 100
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.721
#*# pid_ki = 0.809
#*# pid_kd = 97.021
#*#
#*# [stepper_z]
#*# position_endstop = 1.245
#*#
#*# [probe]
#*# z_offset = 8.950
